.aboutUs {
    background:#000;
    width:100%;
    margin-top:-3px;

    .white-line{
        margin-top: 2px;
        width:918px;
        height:6px;
        margin-left:11px;
        background:#efefef;
        z-index:1;
        position:relative;
    }

    .aboutUs_info {
        padding:28px 50px 48px 50px;
        
        h3 {
            font-size:30px;
            line-height:1.2em;
            color:#bfbfbf;
            margin-bottom:20px;
    
            span {
                color:#d72a18;
            }
        }
    
        p {
            color: #8b8b8b;
            font-size:14px;
            line-height:1.5em;

            @media (max-width: 550px) {
                font-size: 20px;
            }
        }
    }
}
