.news {
  background: #000;
  width: 100%;
  margin-top: -3px; }
  .news .white-line {
    margin-top: 2px;
    width: 918px;
    height: 6px;
    margin-left: 11px;
    background: #efefef;
    z-index: 1;
    position: relative; }
  .news .news_info {
    padding: 28px 50px 48px 50px; }
    .news .news_info h4 {
      font-size: 30px;
      line-height: 1.2em;
      color: #bfbfbf;
      margin-bottom: 20px; }
      .news .news_info h4 span {
        color: #d72a18; }
    .news .news_info p {
      color: #d4d4d4;
      font-size: 18px;
      line-height: 1.5em;
      margin-left: 2em;
      font-family: CHICAGO serif; }
