.contacts {
    background:#000;
    width:100%;
    margin-top:-3px;

    .white-line{
        margin-top: 2px;
        width:918px;
        height:6px;
        margin-left:11px;
        background:#efefef;
        z-index:1;
        position:relative;
    }

    .contacts_info {
        padding:28px 50px 48px 50px;

        @media (max-width: 550px) {
            font-size: 20px;
            padding-bottom: 800px;
        }
        
        h4 {
            font-size:30px;
            line-height:1.2em;
            color:#bfbfbf;
            margin-bottom:20px;
    
            span {
                color:#d72a18;
            }
        }

        h3 {
            font-size:17px;
            color:#ebebeb;
            margin-left: 1em;

            @media (max-width: 550px) {
                font-size: 22px;
            }
        }
    
        p {
            color: #d4d4d4;
            font-size:14px;
            line-height:1.5em;
            margin-left: 2em;

            @media (max-width: 550px) {
                font-size: 20px;
            }
        }
    }
}