.welcome {
    background:#000;
    width:100%;
    margin-top:-3px;

    .welcome-info {
        padding:28px 50px 40px 50px;

        h3 {
            font-size:30px;
            line-height:1.2em;
            color:#bfbfbf;
            margin-bottom:20px;

            span {
                color:#d72a18;
            }
        }
    
        p {
            color: #8b8b8b;
            font-size:14px;
            line-height:1.5em;

            @media (max-width: 550px) {
                font-size: 20px;
            }
        }
    
        b {
            color:#e1e1e1;
            font-weight:normal;
        }
    }
    
    .welcome-img {
        width:100%;
        overflow:hidden;
        line-height:1.714em;
        padding:25px 0 18px 0; 
        color: #8b8b8b;
        font-size:14px;

        @media (max-width: 550px) {
            font-size: 20px;
        }
    
        img {
            float:left;
            margin:-10px 20px 0 0;
        }
    }
}